<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="shortcut icon" href="../Model/pickle-rick.ico">
    <script src="../Controller/boardGenerator.js"></script>
    <title>Get Schwifty</title>
</head>
<body>
    <h1>GET SCHWIFTY</h1>
    <button class="start-button" onclick="generateBoard()">Start!</button>
</body>
</html>